html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.body, ul {
    margin: 0;
    padding: 0;
}
.body--colored {
    background: #F8F8F8;
}

.upper-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.upper-menu--shadow {
    background-color: white;
    height: 88px;
    box-shadow: 0px 1px #D9FFF5;
}

.icon-button {
    background-color:  rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
    height: 40px;
    width: 40px;
}


.upper-menu__text {
    font-size: 0;
}
.burger {
    background-image: url("../images/burger.svg");
}
.call {
    background-image: url("../images/call.svg")
}
.chat {
    background-image: url("../images/chat.svg");
}
.profile {
    background-image: url("../images/profile.svg");
}
.repair {
    background-image: url("../images/repair.svg");
}
.divider {
    background-color: #EAEAEA;
    height: 32px;
    width: 2px;
}
.check {
    background-image: url("../images/checkstatus.svg");
}
.group {

    width: 96.55px;
    height: 50.81px;
}
.icon-button:focus {
    outline: none;
    border: 3px solid #B8FFEC;
    border-radius: 6px; 
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title {
    position: relative;
    width: 100%;
    vertical-align: top;
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    font-weight: 900;
}
.header__title {
    margin-top: 24px;
    margin-bottom: auto;
    margin-left: 5vw;
}
.header__title::before {
    position: absolute;
    content: url(../images/highlight.svg);
    left:-5vw
}


.slide-menu {
    display: flex;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}
.navigation__slide-menu {
    margin-left: 5vw;
    margin-top: 8px;
}
.navigation__slide-menu::-webkit-scrollbar {
     display: none; 
}
.slide-menu__item {
    list-style-type: none;
    scroll-snap-align: start;
}
.slide-menu__text {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    text-decoration: none;
    padding-top: 8px;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-left: 13px;
}

.slide-menu__text:focus,
.read-more:focus,
.button:focus {
    outline: none;
    border: 3px solid #B8FFEC;
    border-radius: 6px;
    background: white;
}

.slide-menu__text:active,
.slide-menu__text:visited {
    color: inherit;
}
.text-block {
    width: 100%;
}
.text-block__text {
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px ;
}
.read-more {
    border: 0;
    background: none;
}
.text-block__read-more{
    margin-left: 5vw;
    margin-bottom: 16px;
}
.read-more__text{
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    font-weight: 700;
    color: #1B1C21;
}
.read-more::before {
    content: url("../images/expand.svg");
    vertical-align: middle;
}


@font-face {
    font-family: TT Lakes;
    src: url("../TTLakes/TTLakes-Regular.ttf");
    
}
@media (max-width: 767px) {
    .xs-hidden {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1119px) {

    .md-hidden {
        display: none;
    }
    .header__title,
    .navigation__slide-menu,
    .text-block__text,
    .text-block__read-more {
        margin-left: 3.125vw;
    }
    .header__title::before {
        left: -3.125vw;
    }
    .main-container {
        display: flex;
        align-items: flex-end;
    }
    .main-container__text-block {
        flex: 0 0 45%;
        max-width: 50%;

    }
    .text-block__read-more {
        margin-top: 10px;
    }
    .main-container__picture {
        flex: 0 0 43%;
        max-width: 50%;
        border-radius: 5px;
        margin-right: 25px;
        align-self: center;
    }
    .upper-menu {
       justify-content: space-between;
    }
    .upper-menu__burger {
        margin-left: 24px;
        margin-right: 20px;
    }
    .upper-menu__group {
        margin-left: 20px;
    }
    .upper-menu__call {
         margin-left: 250.73px;
    }
    .upper-menu__chat {
        margin-left: 16px;
    }
    .upper-menu__profile {
        margin-left: 16px;
        margin-right: 16px;
    }
    .upper-menu__repair {
        margin-left: 16px;
    }
    .upper-menu__check {
        margin-right: 24px;
        margin-left: 16px;
    }
    
    .text-block__text {
        line-height: 20px;
        margin-right: 28px;
    }
}

@media (min-width: 1120px)  {

.lg-hidden {
    display: none;
}
.navigation__slide-menu,
.text-block__text,
.text-block__read-more {
    margin-left: 32px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header__title {
    order: -3;
    max-width: 50%; 
    margin-left: 32px;
}

.header__title::before {
    left: -32px;
}

.upper-menu {
    order: -2;
    width: auto;
    background: #F8F8F8;
    box-shadow: none;
    height: 60px;
    align-items: end;
    display: flex;
    gap: 32px;
}
.upper-menu__check {
    margin-right: 32px;

}
.navigation__slide-menu {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 0;
}
.slide-menu__item {
    margin-bottom: 20px;
}
.slide-menu__text {
    padding-left: 23px;
    padding-right: 23px;
}
.upper-menu__text {
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 600;
}
.upper-menu__label {
    display: flex;
    align-items: center;
    align-content: center;
}
.main-container {
    display: flex;
}
.main-container__text-block {
    flex: 0 0 45%;
    max-width: 50%;

}
.text-block__read-more {
    margin-top: 16px;
}

.main-container__picture {
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 28.65px;
    border-radius: 5px;
}
.text-block__text {
    line-height: 20px;
    margin-right: 36px;
}
.body__header,
.body__main {
    max-width: 1120px;
    margin: 0 auto;
}
}
