.service__header {
    height: 80px;
    width: 100%;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    box-shadow: inset 0px 2px #D9FFF5,inset 0px 4px white ;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    color:#7E7E82;
    padding: 16px;
    padding-left: 24px;
    margin-bottom: 16px;
}

.brands__element {
    height: 72px;
    background:url("../images/service/go.svg") #FFFFFF;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 90%;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 0px;
    position: relative;
}
.brands__pic {
    position: absolute; 
    top:50%;
    transform:translateY(-50%);   
}   
.brands__element:focus {
    outline: none;
    box-shadow: 0px 0px 3px 3px #B8FFEC;
}


@media (max-width:767px) {
    .service__brands {
        padding-left: 16px;
        padding-bottom: 10px;
    }
}
@media (min-width:768px) {
    .body__service {
        max-width: 768px;
        margin: 0 auto;
    }
    .service__brands {
        display: flex;
        flex-wrap: wrap;
    }
    .brands__element {
        width: 224px;
        margin-left: 24px;
    }
    .service__button {
        margin-left: 24px;
        text-align: left;
        position: absolute;
        padding: 10px 25px;
        font-family: TT Lakes;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: left;
        color: #1B1C21;
    }
    .show-more::before {
        position: absolute;
        left:-5px;
        top:5px;
    }
    .service__button--close::before {
        content: url("../images/expand.svg");
        transform: rotate(180deg);
        position: absolute;
        left:-5px;
        top:2px;
    }
  }
  @media (min-width:1120px) {
    .body__service {
        max-width: 1120px;
        margin: 0 auto;
    }
    .brands__element {
        width: 240px;
    }
  }
